.www-iframe {
    border: none;
    width: 100%;
    min-height: 300px;
}

.editor-box {
    border: 1px solid rgba(0, 0, 0, .05);
}

.editor-textarea {
    font-size: 12px;
    border: none;
    outline: none;
    padding: 20px 16px;
    min-height: 300px;
}

.editor-textarea::selection,
.editor-textarea span::selection {
    background-color: #accef7;
}

.editor-toolbar {
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolbar-sub {
    margin: 8px;
}

.toolbar-sub .active::before {
    background: #f1f3f6;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.toolbar-sub:hover {
    background-color: #f1f3f6;
}

.easyFunc {
    float: left;
    width: 24px;
    height: 24px;
    background: url("../imgs/sprit.svg") no-repeat;
    position: relative;
}

.editor-bold {
    background-position-x: -109px;
    background-position-y: -151px;
}

.editor-italic {
    background-position-x: -169px;
    background-position-y: -69px;
}

.editor-underline {
    background-position-x: -109px;
    background-position-y: -196px;
}

.editor-lineThrough {
    background-position-x: -169px;
    background-position-y: -91px;
}

.textarea {
    padding: 20px;
    line-height: 24px;
    color: #1a1a1a;
    font-size: 12px;
    min-height: 200px;
    background-color: #fff;
}

.textarea:focus {
    outline: none;
}

.editor-select {
    font-size: 12px;
    padding: 2px;
    outline: none;
}

.editor-select-options {
    display: none;
    background: #fff;
    position: absolute;
    top: 24px;
    left: 0;
    border: 1px solid #e0e1e5;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
}

.editor-select-option {
    padding-left: 15px;
    padding-right: 40px;
    line-height: 30px;
    font-size: 12px;
}

.editor-select-option:hover {
    background-color: #f1f3f6;
}

.editor-select-icon {
    background: url("../imgs/sprit.svg") no-repeat;
    width: 12px;
    height: 12px;
    background-position-x: -237px;
    background-position-y: -189px;
    margin-left: 8px;
}